# Dependencies
node_modules/

# pnpm
pnpm-lock.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Test coverage
coverage/

# Environment
.env
.env.local
.env.*.local

docs/*

